.site-footer {
  background-color: var(--light-grey);
  color: var(--blue);
}

.footer-links,
.footer-links-secondary,
.footer-social-media,
.gp-year,
.copyright-text,
.copyright-text a {
  color: var(--blue);
}

.site-footer .container .footer-links a:hover,
.site-footer .container .footer-links-secondary a:hover,
.site-footer .container .gp-year a:hover,
.site-footer .container .copyright-text a:hover {
  color: var(--handbook-footer-links-hover);
}

.site-footer .container .footer-social-media a:hover {
  color: var(--blue);
  opacity: 0.8;
}
