.sidebar-navigation {
  display: none;
}

@media (min-width: 992px) {
  .top-navigation {
    background: rgba(01, 34, 61, 0.6);
    height: 80px;
  }

  .top-navigation .site-logo {
    display: none;
  }

  .top-navigation .navbar-dropdown {
    display: none;
  }

  .sidebar-navigation {
    width: var(--sidebar-width);
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: var(--sidebar-blue);
    color: var(--white);
    padding: 10px 20px;
    z-index: 99;
    font-family: Roboto;
    display: block;
  }

  .sidebar-navigation > ul {
    margin-top: 40px;
  }

  li.nav-item {
    padding-bottom: 20px;
  }

  .nav-link {
    color: var(--white);
    line-height: 1.7;
    font-weight: 700;
    padding: 0px 0px;
  }

  .nav-link:hover {
    color: var(--blue-40);
  }

  li.nav-child {
    padding: 0;
  }

  li.nav-child .nav-link,
  li.nav-item {
    text-transform: none;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;
  }

  .nav-search-wrap {
    position: absolute;
    right: var(--sidebar-width);
    margin-top: 18px;
  }

  .nav-search-wrap .form-control,
  .nav-search-wrap .form-control:focus {
    background-color: var(--sidebar-blue);
    color: var(--white);
    border: none;
  }

  .top-nav-search-btn {
    color: var(--light-grey);
    background-color: var(--sidebar-blue) !important;
  }
}
