:root {
  --black: black;
  --white: white;
  --light-grey: #f6f4e7;

  --blue: #074365;
  --blue-60: #007799;
  --blue-40: #03aad6;

  --red: #e51538;

  --sidebar-blue: #01223d;
  --sidebar-width: 250px;

  --handbook-footer-links-hover: #2980B9;
}
